{% extends 'base.html' %}

{% block content %}

<div class="container my-4">
    <h1 class="mb-4">Países Registados</h1>

    <div class="table-responsive">
        <table class="table table-bordered table-striped text-center">
            <thead class="table-light">
                <tr>
                    <th>ID</th>
                    <th>Designação do País</th>
                    <th>Nº de Distritos/Regiões</th>
                </tr>
            </thead>
            <tbody>
                {% for p in pais %}
                <tr>
                    <td>{{ p.idPais }}</td>
                    <td>{{ p.nome }}</td>
                    <td>{{ p.n_distritos }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}