{% extends 'base.html' %}

{% block content %}
<h2>Adjudicatários</h2>

{% if erro %}
    <div class="alert alert-danger">{{ erro }}</div>
{% endif %}

<form action="/adjudicatarios/" method="get" class="form-inline mb-3">
    <input type="number" name="idVendedor" class="form-control mr-2" placeholder="ID Adjudicatário">
    <input type="text" name="nomeVendedor" class="form-control mr-2" placeholder="Designação">
    <button type="submit" class="btn btn-primary">Pesquisar</button>
    <a href="/adjudicatarios/" class="btn btn-secondary ml-2">Limpar</a>
</form>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>N.º Fiscal</th>
            <th>Designação</th>
            <th>Total Contratos</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for a in adjudicatarios %}
        <tr>
            <td>{{ a.idAdjudicatario }}</td>
            <td>{{ a.numFiscal }}</td>
            <td>{{ a.designacao }}</td>
            <td>{{ a.total_contratos }}</td>
            <td>
                <a href="/adjudicatarios/{{ a.idAdjudicatario }}/" class="btn btn-sm btn-info">Detalhes</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}