{% extends 'base.html' %}

{% block content %}
<h2>Adjudicantes</h2>

{% if erro %}
    <div class="alert alert-danger">{{ erro }}</div>
{% endif %}

<form action="/adjudicantes/" method="get" class="form-inline mb-3">
    <input type="number" name="idCliente" class="form-control mr-2" placeholder="ID Adjudicante">
    <input type="text" name="nomeCliente" class="form-control mr-2" placeholder="Designação">
    <button type="submit" class="btn btn-primary">Pesquisar</button>
    <a href="/adjudicantes/" class="btn btn-secondary ml-2">Limpar</a>
</form>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>NIF</th>
            <th>Designação</th>
            <th>Total Contratos</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for a in adjudicantes %}
        <tr>
            <td>{{ a.idAdjudicante }}</td>
            <td>{{ a.nif }}</td>
            <td>{{ a.designacao }}</td>
            <td>{{ a.total_contratos }}</td>
            <td>
                <a href="/adjudicantes/{{ a.idAdjudicante }}/" class="btn btn-sm btn-info">Detalhes</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}